<div id="message_<%= message.id %>" class="message mb-5 p-4 bg-white border-l-4 rounded"
     style="border-left-color: <%= message.role == 'user' ? 'var(--color-yale-blue)' : 'var(--color-deep-space-blue)' %>">
  <div class="font-bold mb-2 text-[var(--color-deep-space-blue)]">
    <%= message.role&.capitalize %>
  </div>
  <div id="message_<%= message.id %>_content" class="text-[var(--color-deep-space-blue)] whitespace-pre-wrap"><%= message.content %></div>
  <% if message.tool_call? %>
    <%= render "messages/tool_calls", message: message %>
  <% end %>
  <div class="text-sm text-[var(--color-deep-space-blue)] opacity-60 mt-2">
    <%= message.created_at&.strftime("%I:%M %p") %>
  </div>
</div>